<suite name="Project Name">

    <test name="Module 1">
        <classes>
            <class name="TestNGDemo.Demo1.ClassOne"/>
            <class name="TestNGDemo.Demo1.ClassTwo"/>
        </classes>
    </test>

    <test name="Module 2">
        <classes>
            <class name="TestNGDemo.Demo1.ClassThree"/>
        </classes>
    </test>

</suite>